<a href="https://colab.research.google.com/github/Vulter3653/python/blob/main/start_blog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#####case1. 변수가 없는 경우##############################

print(100+10)
print((100+10)/10)
print(((100+10)/10)-10)
print((((100+10)/10)-10)*10)

#####case2. 변수가 있는 경우 ##################################

a = 100 + 10
print(a)
a = a/10
print(a)
a = a-10
print(a)
a = a *10
print(a)

110
11.0
1.0
10.0
110
11.0
1.0
10.0

In [ ]:
#정수형(int)
a = 1
b = 23
c = -23
d = 0
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#소수형(float)
a = 1.0
b = 0.342
c = 0.0
d = -34.23
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#수치형의 연산
#+(더하기)
print(1+2)
#-(빼기)
print(1-2)
#*(곱하기)
print(1/2)
#/(나누기)
print(1/2.0)
#%(나누고 나서 그 몫에 해당하는 값)
print(1%2)

3
-1
0.5
0.5
1

In [ ]:
#문자형(str)
a = "안녕"
b = "abcde"
c = '34'
d = '0.343'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#문자형의 연산자
print("여"+"름")
print("사이람"*5)

여름
사이람사이람사이람사이람사이람

In [ ]:
print(("d"+"f")*2)

dfdf

In [ ]:
#문자형의 특수문자
print("안녕\n하세요")
print('안녕\t하세요')

안녕
하세요
안녕	하세요

In [ ]:
#raw문자열 표현 
print(r"안녕\n하세요")

안녕\n하세요

In [ ]:
filePath = r"c:\nds\tab\sss.txt"
print(filePath)

c:\nds\tab\sss.txt

In [ ]:
#'\\'두 번 입력해주면 이를 raw문자열 표현과 같아진다.
print("안녕\\n하세요")

안녕\n하세요

In [ ]:
#문자열의 부분값 추출(인덱싱)
a="hello"

print(a[0])
print(a[-1])

h
o

In [ ]:
#문자열의 부분값 추출(슬라이싱)
a="hello"

print(a[0:1])
print(a[:-2])
print(a[:-1])

h
hel
hell

In [ ]:
#replace(문자바꾸기)
a="hello"

print(a.replace("l",'w'))
print(a.replace(a[0],'d'))
print(a.replace(a[-1],'k'))

hewwo
dello
hellk

In [ ]:
#split(문자 구분하기)
a="hello"

b=a.split("e")
print(b)

['h', 'llo']

In [ ]:
#index(문자위치)
a = "hello"

b = a.index("e")
print(b)

1

In [ ]:
#index(문자위치)
a = "hellohello"

b = a.index("h")
print(b)

c = a.index("h",1)
print(c)

0
5

In [ ]:
#불리언(Boolean)
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
a = 3
b = 1
print(a>b)
print(a<b)

True
False

In [ ]:
#문자와 숫자의 형변환(수치형->문자형)

a = 35
b = 24
print(a+b) 
print(type(a+b))

c = str(a)
d = str(b)
print(c+d)
print(type(c+d))

59
<class 'int'>
3524
<class 'str'>

In [ ]:
#문자와 숫자의 형변환(문자형->수치형)

a = "35"
b = "24" 
print(a+b)
print(type(a+b))

c = int(a)
d = int(b)
print(c+d)
print(type(c+d))

3524
<class 'str'>
59
<class 'int'>